@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.light {
   --primary: 59, 91, 219;
   --secondary: 14, 165, 233;
   --accent: 212, 175, 55;

   --bg: 241, 241, 241;
   --bg-elevated: 255, 255, 255;
   --text: 17, 24, 39;
   --text-secondary: 75, 85, 99;

   --success: 16, 185, 129;
   --warning: 213, 164, 0;
   --error: 239, 68, 68;
   --information: 14, 165, 233;
}

.dark {
   --primary: 112, 133, 255;
   --secondary: 56, 189, 248;
   --accent: 241, 201, 74;

   --bg: 13, 17, 23;
   --bg-elevated: 22, 27, 34;
   --text: 243, 244, 246;
   --text-secondary: 156, 163, 175;

   --success: 16, 185, 129;
   --warning: 213, 164, 0;
   --error: 250, 204, 21;
   --information: 14, 165, 233;
}

@theme {
   --color-primary: rgba(var(--primary));
   --color-secondary: rgba(var(--secondary));
   --color-accent: rgba(var(--accent));

   --color-bg: rgba(var(--bg));
   --color-bg-elevated: rgba(var(--bg-elevated));
   --color-text: rgba(var(--text));
   --color-text-secondary: rgba(var(--text-secondary));

   --color-success: rgba(var(--success));
   --color-warning: rgba(var(--warning));
   --color-error: rgba(var(--error));
   --color-information: rgba(var(--information));
}